<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <title>Cleo > Add app.</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="https://use.fontawesome.com/d102afacbe.js"></script>

  </head>
  <body ng-controller="cleo-app">
   
    <nav class="navbar fixed-top  navbar-dark navbar-expand-lg bg-dark ">
  <a class="navbar-brand" href="#">cleo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Dashboard </a>
      </li>
  
      <li class="nav-item active dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Web Applications <span class="sr-only">(current)</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item active" href="/add_app">Add</a>
          <a class="dropdown-item" href="/apps">Manage</a>
        </div>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/tests">Tests</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="/settings">Settings</a>
      </li>
    
    </ul>
 
  </div>
</nav>

<div class="container inversed pd-top">
      
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Cleo</a></li>
     <li class="breadcrumb-item"><a href="/apps">Web applications</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>
      <div ng-show="alert && app.Name == ''" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Application saved!</h4>
  <p>Your web application is connected to cleo.</p>
  <p class="mb-0">Click <a href="/apps" class="alert-class">here</a> to view your connected applications.</p>
</div>
        <form  ng-submit="Add()" name="form">
          <p>Application nickname.</p>
          <input type="text"  ng-disabled="working"  placeholder="App nickname." ng-model="app.Name" class="form-control" required/><br>
          <p>Enter your app's package name. This is the path to your project relative to path $GOPATH/src.</p>
          <input type="text"  ng-disabled="working" placeholder="App path. ie : path.com/yourusername/foldername" class="form-control" ng-model="app.Path" required /><br>
        </form>

        <hr>
        <button class="btn pull-right btn-danger" ng-disabled="working" onclick="window.history.back()">Cancel</button>
        <button class="btn btn-primary" ng-click="Add()" ng-disabled="!form.$valid || working" >Add</button>
    
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/funcfactory.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>

    <script type="text/javascript" src="ang/apps.js"></script>
  </body>
</html>